<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <!-- Header elements -->
      <div
        class="flex flex-wrap align-items-center justify-content-between gap-3 mb-6"
      >
        <h1 class="m-0">Co-Gobiernos</h1>
        <!-- Two elements to right -->
        <div class="flex align-items-center gap-3">
          <!-- Button to create new -->
          <p-button
            outlined="true"
            severity="success"
            icon="pi pi-plus"
            label="Nuevo"
            (onClick)="navigateToNewCoGoverment()"
          />
          @if (coGovermentService.coGoverments().length) {
          <!-- Search bar -->
          <div class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input
              style="width: 100%"
              pInputText
              type="text"
              (input)="onGlobalFilter($event)"
              placeholder="Filtro"
            />
          </div>
          }
        </div>
      </div>

      @if (coGovermentService.loading()) {
      <p-table
        [value]="coGovermentService.coGoverments()"
        responsiveLayout="scroll"
        [rowHover]="true"
        dataKey="id"
      >
        <!-- Header -->
        <ng-template pTemplate="header">
          <tr>
            <th class="w-3">Nombre</th>
            <th class="w-2">Tipo de Co-Gobierno</th>
            <th class="w-2">Tipo votación</th>
            <th class="w-3">Dependencia</th>
            <th class="w-2"></th>
          </tr>
        </ng-template>
        <!-- Body -->
        <!-- Loading show skeleton -->
        <ng-template pTemplate="body">
          <tr class="cursor-pointer">
            <!-- Name -->
            <td style="min-width: 12rem">
              <p-skeleton />
            </td>
            <!-- CoGoverment type -->
            <td style="min-width: 12rem">
              <p-skeleton />
            </td>
            <!-- Voting type father -->
            <td style="min-width: 12rem">
              <p-skeleton />
            </td>
            <!-- Dependency -->
            <td style="min-width: 12rem">
              <p-skeleton />
            </td>
            <!-- More info -->
            <td style="min-width: 12rem">
              <p-skeleton />
            </td>
          </tr>
        </ng-template>
      </p-table>
      } @else if (coGovermentService.coGoverments()) {
      <!-- Loaded so there is data to show -->
      <p-table
        #dt
        [value]="coGovermentService.coGoverments()"
        responsiveLayout="scroll"
        [globalFilterFields]="[
          'name',
          'coGovermentType',
          'votingType',
          'dependency'
        ]"
        [rowHover]="true"
        dataKey="id"
      >
        <!-- Header -->
        <ng-template pTemplate="header">
          <tr>
            <th class="w-3" pSortableColumn="name">
              Nombre<p-sortIcon field="name"></p-sortIcon>
            </th>
            <th class="w-2" pSortableColumn="coGovermentType">
              Tipo de Co-Gobierno<p-sortIcon
                field="coGovermentType"
              ></p-sortIcon>
            </th>
            <th class="w-2">Tipo votación</th>
            <th class="w-3">Dependencia</th>
            <th class="w-2"></th>
          </tr>
        </ng-template>
        <!-- Body -->
        <ng-template pTemplate="body" let-coGoverment>
          <tr class="cursor-pointer">
            <!-- Name -->
            <td class="text-900">
              {{ coGoverment.name }}
            </td>
            <!-- CoGoverment type -->
            <td class="text-900">
              {{ coGoverment.coGovermentType }}
            </td>
            <!-- VotingType -->
            <td class="text-900">
              {{ coGoverment.votingType }}
            </td>
            <!-- Dependency -->
            <td class="text-900">
              {{ coGoverment.dependency }}
            </td>
            <!-- Button show more button   -->
            <td class="text-900">
              <p-button
                outlined="true"
                severity="info"
                icon="pi pi-plus"
                label="Mas información"
                (onClick)="onRowSelect(coGoverment.id)"
              />
            </td>
          </tr>
        </ng-template>
      </p-table>
      } @else {
      <h1>Nothing here</h1>
      }
    </div>
  </div>
</div>
