.bg-challenge {
  background-color: var(--ucab-navy-blue) !important;
}

.bg-candidature {
  background-color: var(--ucab-jade-green) !important;
}

.bg-complaint {
  background-color: var(--ucab-ruby) !important;
}

.bg-without-type {
  background-color: var(--ucab-windsor-violet) !important;
}

.request-type-font-color {
  color: white;
}
