:root {
  --ucab-yellow: #fec628;
  --ucab-blue: #3cb5e5;
  --ucab-green: #0d793d;

  --ucab-bar-gray: #777;
  --ucab-bar-dark-gray: #383938;

  --ucab-carrot-orange: #f5821f;
  --ucab-persian-green: #00a79d;
  --ucab-ruby: #ed2a7b;
  --ucab-yellow-green: #8cc63e;
  --ucab-navy-blue: #0071bb;
  --ucab-jade-green: #00a66c;
  --ucab-windsor-violet: #50237f;
  --ucab-thunderbird-red: #c4151c;
  --ucab-dark-purple: #932684;
  --ucab-amber-yellow: #fec10d;

  /* Ingeniería */
  --ing-ucab-color: #0071bb;
  --ing-ucab-dark-color: #015287;
  --ing-ucab-accent-color: #3cb5e5;
}
